<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Un Québec Ouvert</h2>
                    <h3 class="section-subheading text-muted">Drave Développement s'inscrit dans la foulée de la gouvernance ouverte, une mouvance internationale en plein essor et bien présente au Québec.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>1960-1980</h4>
                                  <h4 class="subheading">Reconnaissance du droit d'accès à l'information</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Les états se dotent de lois qui reconnaissent le droit des citoyens d'accéder à l'information produite par les institutions gouvernementales. Dès 1982 le Québec, se dote de la "Loi sur l'accès aux documents des organismes publics et sur la protection des renseignements personnels". Au États-Unis, c'est en 1966 avec la "Freedom of Information Act", en 1978 en France, la "Commission d’accès aux documents administratifs" et au Canada en 1983, la "Loi sur l'accès à l'information"</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>1998</h4>
                                  <h4 class="subheading">GIRES: les services numériques au coeur de l'activité gouvernementale</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">L'amélioration de l'accès aux ordinateurs et à l'émergence d'internet, les ministères se sont doter de services numériques pour assurer leur activités courantes. GIRES est le premier grand chantier visant de fournir un service à intégrer pour l'ensemble des organisations gouvernementales du Québec. D'autres initiatives de mise en commun des efforts numériques suiverons, notamment la mise sur pied du Centre de Services Partagés en 2015.</p>
                              </div>
                          </div>
                      </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2016</h4>
                                    <h4 class="subheading">Données ouvertes par défaut</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">On élabore le concept de données ouvertes. Dès 2011, Open North, basé à Montréal, fait office de leader dans l'élaboration des données ouvertes, accompagne le gouvernement du Canada et contribue au cadre commun à l'international. Le Canada se joint en 2012 à l'Open Government Partnership grâce à son projet pilote Données Canada. Au Québec, c'est en 2016 qu'est lancé le partenariat pour les Données Ouvertes grâces au leadership principales villes québécoises.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2019</h4>
                                    <h4 class="subheading">Stratégie Québecoise du Numérique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Le numérique prend de plus en plus de place dans la vie quotidienne. L'achat en ligne devient la norme, les plateformes de services bouleversent des secteurs traditionnels comme l'héberge, le transport et la restauration. Les entreprises Québécoises ont besoin d'un support de l'état pour faire face à ces transformation et les citoyens s'attende à des services numériques gouvernementaux de qualité. Une série de Stratégies, de plan d'actions, d'investissement et de restructuration auront lieux durant cette période. Ceci aboutira en 2019 à la Stratégie de transformation numérique gouvernementale.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2021</h4>
                                    <h4 class="subheading">Des actions pour un Québec Ouvert</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Avec le plan d'action favorisant un gouvernement ouvert, le focus est mis sur la transparence et la collaboratin avec la société civile. Le gouvernement du Québec a comme ambition de mettre les citoyens "au centre de l'évolution des services, des programmes et des politiques". Les données ouvertes sont identifiées comme étant un élément clef pour y parvenir.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Février 2021</h4>
                                    <h4 class="subheading">Drave Développement</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Notre organisme permet de créer des ponts entre la société civile, aux technologues à l'extérieur du gouvernement et aux organisations gouvernementales. À partir des besoins des communautés, nous aidons à identifier les bloquant et à apporter des solutions techniques rapidement.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="#contact" class="page-scroll text-light"><h4>Un<br>Québec
                                    <br>ouvert</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
